<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear proceso</title>
    <link rel="stylesheet" href="../PUBLIC/CSS/styleCreateProcess.css">

    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
</head>
<body>
    <section id="createProcess">
        <div class="classDivTitle">
            <h2>Crear proceso</h2>
        </div>
        <form action="" class="classFormulario" id="formCreateProcess" name="formCreateProcess">
            <div class="classLeft">
                <label for="title" class="classLabel">Titulo (Obligatorio)</label>
                <br>
                <input type="text" id="title" name="title" class="classTextInput" required>
            </div>
            <div class="classLeft">
                <label for="description" class="classLabel">Descripción (Obligatorio)</label>
                <br>
                <input type="text" id="description" name="description" required class="classTextInput classTextInputTitle">
            </div>
            <table class="classTable">
                <tr>
                    <td>
                        <label for="video" class="classLabel">Video (Opcional)</label>
                        <input type="file" id="video" name="video"  class="classTextInputFile">
                    </td>
                    <td>
                        <label for="image" class="classLabel">Imagen (Opcional)</label>
                        <input type="file" id="image" name="image" class="classTextInputFile">
                    </td>
                    <td>
                        <label for="doc" class="classLabel">Documento (Obligatorio)</label>
                        <input type="file" id="doc" name="doc" required class="classTextInputFile">
                    </td>
                </tr>
            </table>
            <div>
                <input type="submit" value="Publicar" id="buttonPublicar" name="buttonPublicar">
            </div>
        </form>
    </section>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../PUBLIC/JS/createProcessJS.js"></script>
</body>
</html>